<a href="https://colab.research.google.com/github/YoungHyunKoo/GEE_remote_sensing/blob/main/Week1/1_1_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **[GEO 6083] Remote Sensing Imge Processing - Spring 2024**
# **WEEK 1-1. Python basics**

### OBJECTIVES
1. Understand numeric and string data types of Python
2. Understand `list` object of Python
3. Understand `dictionary` object of Python

Credited by Younghyun Koo (kooala317@gmail.com) *italicized text*

## **1. Data types**

There are several data types you can use in Python (similar to any other computer programming languages). Data types specify the type of data that can be stored inside a variable. Since everything is an object in Python programming, data types are classes and variables are instances (objects) of these classes.

<img src="https://www.jcchouinard.com/wp-content/uploads/2023/07/Python-Data-Types.png" width="500">

## **2. Numberic data types**

There are three numeric data types: integer, float, and complex number. These values are defined as Python `int`, Python `float`, and Python `complex` classes.

- **Integers** - This value is represented by `int` class. It contains positive or negative whole numbers (without fractions or decimals).
- **Float** – This value is represented by the `float` class. It is a real number with a floating-point representation. It is specified by a decimal point.
- **Complex Numbers** – A complex number is represented by a `complex` class. It is specified as (real part) + (imaginary part)j. (e.g., 2+3j)

In [ ]:
# Define an integer variable a
a = 6

In [ ]:
# Print the datatype of variable a; use type() function
print(a, 'is of type', type(a))

6 is of type <class 'int'>

In [ ]:
# Define a new integer variable b
b = 10

In [ ]:
# Plus operator
c = a + b

In [ ]:
print(c, 'is of type', type(c))

16 is of type <class 'int'>

In [ ]:
# Multiplication operator
d = a * b

In [ ]:
print(d, 'is of type', type(d))

60 is of type <class 'int'>

In [ ]:
# Divide operator
e = a / b

In [ ]:
print(e, 'is of type', type(e))

0.6 is of type <class 'float'>

In [ ]:
# Define a float variable
a = 9.5

In [ ]:
print(a, 'is of type', type(a))

9.5 is of type <class 'float'>

In [ ]:
a + 4

13.5

In [ ]:
print(type(a + 4))

<class 'float'>

In [ ]:
A = 4
print(a)
print(A)
print(A+a)
# Python is case-sensative (i.e., A is not equal to a)

9.5
4
13.5

## **2. String data type**

String is a sequence of characters represented by either single or double quotes. The string type in Python is called `str` class.

In [ ]:
# Define a string with doble quotes.
s1 = "Hello"

In [ ]:
s1

'Hello'

In [ ]:
# The number of characters
len(s1)

5

In [ ]:
# Define antother string
s2 = "David"

In [ ]:
# The plus operator of numbers means addition.
6 + 6

12

In [ ]:
# What does the plus operator mean for string data types?
s1 + s2

'HelloDavid'

In [ ]:
## This line will cause error; Why?
s1 + 2

TypeError: can only concatenate str (not "int") to str

In [ ]:
# Then, is there any way we can convert numerical to string or vice versa?
# Add "str" function to convert number to string
s1 + str(2)

'Hello2'

For sequence data types such as string and list, you can use indexing to extract the components of certain locations.

<img src="https://miro.medium.com/v2/resize:fit:1400/1*6xXLjk-Jq23LRNBTDGK3Uw.png" width="500">

In [ ]:
s1 = "Hello World!"

In [ ]:
# String indexing
s1[0]

'H'

In [ ]:
s1[2]

'l'

In [ ]:
## This line will cause error; Why?
s1[13]

IndexError: string index out of range

In [ ]:
# Negative indexing
s1[-1]

'!'

In [ ]:
s1[-2]

'd'

In [ ]:
s1

'Hello World!'

In [ ]:
s1[1:3]

'el'

In [ ]:
s1[:3]

'Hel'

In [ ]:
s1[3:]

'lo World!'

You can use several functions specialized for string data type. We will try two functions here: `split` and `replace` funcdtions.

In [ ]:
# Define a string variable.
text = "Hello my name is Steve."

In [ ]:
# Split: The split() method splits a string into a list.
# You can specify the separator; default separator is any whitespace.
text.split()

['Hello', 'my', 'name', 'is', 'Steve.']

In [ ]:
# Change separator
text.split("my")

['Hello ', ' name is Steve.']

In [ ]:
# Replace a certain part into another string.
text.replace("my", "your")

'Hello your name is Steve.'

## **3. List**

`Lists` are used to store multiple items in a single variable.

- Lists are created using square brackets: `[]`
- List items are ordered, changeable (mutable), and allow duplicate values.
- List items can store any datatypes: numeric, string, boolean, etc.
- List items can be indexed: e.g., the first item has index 0, the second item has index 1, etc. You can also use negative indexing.

In [ ]:
# Define a list consisting of names of colors (strings)
colors = ['red', 'blue', 'green'] # use square bracket
print(colors[0])    ## red
print(colors[2])    ## green
print(len(colors))  ## length (i.e., number of items) of the list

red
green
3

In [ ]:
# Define a list consisting of numbers
numbers = [3,4,5,6,7,8,9]
print(numbers[0])    ## 3
print(numbers[2])    ## 5
print(len(numbers))  ## length of the list

3
5
7

In [ ]:
# List slicing
numbers[1:4]

[4, 5, 6]

In [ ]:
# Define a list consisting of mixed data types
list1 = [1, 2, 3, 'apple', 'banana']
print(list1[0])    ## 1
print(list1[-1])    ## banana
print(len(list1))  ## length of the list

1
banana
5

There are several funcetions you can use for list.

- `list.append(x)`: Add an item to the **end** of the list.
- `list.insert(i, x)`: Insert an item `x` **at a given position** `i`. `i` is the index of the element before which to insert.
- `list.remove(x)`: Remove the first item from the list whose value is equal to `x`. It raises a ValueError if there is no such item.
- `list.pop(i)` : Remove the item at the given position `i` in the list, and return it. If no index is specified, `a.pop()` removes and returns the last item in the list. It raises an IndexError if the list is empty or the index is outside the list range.
- `list.index(x)`: Return zero-based index in the list of the first item whose value is equal to `x`. Raises a ValueError if there is no such item.
- `list.sort()`: Sort the items of the list in place.
- `list.reverse()`: Reverse the elements of the list in place.

In [ ]:
# Append
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'banana']
print(fruits)
fruits.append('grape')
print(fruits)

['orange', 'apple', 'pear', 'banana', 'kiwi', 'banana']
['orange', 'apple', 'pear', 'banana', 'kiwi', 'banana', 'grape']

In [ ]:
# Insert
fruits.insert(2, 'mango')
print(fruits)

['orange', 'apple', 'mango', 'pear', 'banana', 'kiwi', 'banana', 'grape']

In [ ]:
# Remove
fruits.remove('kiwi')
print(fruits)

['orange', 'apple', 'mango', 'pear', 'banana', 'banana', 'grape']

In [ ]:
# Pop
fruits.pop(3)
print(fruits)

['orange', 'apple', 'mango', 'banana', 'banana', 'grape']

In [ ]:
# Index
fruits.index('banana')

3

In [ ]:
# Index
fruits.index('blueberry')

ValueError: 'blueberry' is not in list

In [ ]:
# Sort
fruits.sort()
print(fruits)

['apple', 'banana', 'banana', 'grape', 'mango', 'orange']

In [ ]:
# Sort (reverse)
fruits.sort(reverse = True)
print(fruits)

['orange', 'mango', 'grape', 'banana', 'banana', 'apple']

In [ ]:
# Reverse
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'banana']
fruits.reverse()
print(fruits)

['banana', 'kiwi', 'banana', 'pear', 'apple', 'orange']

Let's practice with another list.

In [ ]:
numbers = [12, 5, 9, 8, 4, 7, 15, 20]
numbers.append(35)
print(numbers)

[12, 5, 9, 8, 4, 7, 15, 20, 35]

In [ ]:
numbers.insert(1, 11)
print(numbers)

[12, 11, 5, 9, 8, 4, 7, 15, 20, 35]

In [ ]:
numbers.remove(9)
print(numbers)

[12, 11, 5, 8, 4, 7, 15, 20, 35]

In [ ]:
numbers.index(15)

6

## **4. Dictionary**

Dictionaries are used to store data values in **key:value** pairs.

- Dictionaries are created using curly brackets: `{}`
- Dictionaries are ordered, changeable, and do now allow duplicated keys.
- The keys of dictionaries should be any immutable data type (e.g., strings, numbers), but the values can be of any type.

In [ ]:
## Build up a dict by starting with the the empty dict {}
alphabet = {}

In [ ]:
## Storing key/value pairs into the dict like this:
## dict[key] = value-for-that-key
alphabet['a'] = 'alpha' # Key='a', value='alpha'
alphabet['g'] = 'gamma' # Key='g', value='gamma'
alphabet['o'] = 'omega' # Key='o', value='omega'

print(alphabet) ## {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

{'a': 'alpha', 'g': 'gamma', 'o': 'omega'}

In [ ]:
alphabet = {'a': 'alpha', 'g': 'gamma', 'o': 'omega'}
alphabet

{'a': 'alpha', 'g': 'gamma', 'o': 'omega'}

In [ ]:
alphabet[0]

KeyError: 0

In [ ]:
print(alphabet['a'])     ## Simple lookup, returns 'alpha'
alphabet['a'] = 6       ## Put new key/value into dict
alphabet

6

{'a': 6, 'g': 'gamma', 'o': 'omega'}

In [ ]:
alphabet

- `get()`: Returns the value of the specified key
- `items()`: Returns a list containing a tuple for each key value pair
- `keys()`: Returns a list containing the dictionary's keys
- `pop()`: Removes the element with the specified key
- `values()`:	Returns a list of all the values in the dictionary

Let's practice with another dictionary.

In [ ]:
grades = {'John': 80, 'Alice': 85, 'Daniel': 90, 'Mary': 78}

In [ ]:
grades.keys()

dict_keys(['John', 'Alice', 'Daniel', 'Mary'])

In [ ]:
grades.get('John')

80

In [ ]:
grades.items()

dict_items([('John', 80), ('Alice', 85), ('Daniel', 90), ('Mary', 78)])

In [ ]:
grades.pop('Mary')
grades

{'John': 80, 'Alice': 85, 'Daniel': 90}

In [ ]:
grades.values()

dict_values([80, 85, 90])

## **References**
- Tony Gaddis. 2017. Starting Out with Python (4th Edition). Pearson.
- https://www.jcchouinard.com/python-data-types/
- https://www.geeksforgeeks.org/difference-between-list-and-dictionary-in-python/