<a href="https://colab.research.google.com/github/YoungHyunKoo/GEE_remote_sensing/blob/main/Week1/1_2_Python_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **[GEO 6083] Remote Sensing Imge Processing - Spring 2024**
# **WEEK 1-2. Python Operations**

### OBJECTIVES
1. Understand how `if` statement works
2. Understand how logical operators work
3. Understand how `for` and `while` loop operators work

Credited by Younghyun Koo (kooala317@gmail.com)

## **1. `If` statement**

The `if` statement is used to create a decision structure, which allows a program to have more than one path of execution. The `if` statement causes one or more statements to execute only when a Boolean expression is true.

Python supports the usual logical conditions from mathematics:
- Equals: `a == b`
- Not Equals: `a != b`
- Less than: `a < b`
- Less than or equal to: `a <= b`
- Greater than: `a > b`
- Greater than or equal to: `a >= b`

In [ ]:
# If statement for comparing two numbers
a = 3
b = 5
if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
# If statement for comparing two strings
a = "fire"
b = "hire"
if a != b:
  print("b is different from a")

b is different from a

The `elif` keyword is Python's way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 3
b = 5
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
elif a > b:
  print("a is greater than b")

b is greater than a

The `else` keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 10
b = 5
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else: # Replace the previous 'elif' with else
  print("a is greater than b")

a is greater than b

You can use `and` and `or` logical operators to combine multiple conditional statements.

In [ ]:
# And operator
a = 40
b = 20
c = 70
if a > b and c < a:
  print("Both conditions are True")

In [ ]:
# & is the same to the and operator
a = 40
b = 20
c = 70
if (a > b) & (c > a):
  print("Both conditions are True")

In [ ]:
# Or operator
a = 40
b = 20
c = 30
if a > b or c > a:
  print("At least one condition is True")

In [ ]:
# | is the same to the or operator
a = 40
b = 20
c = 30
if (a > b) | (c > a):
  print("At least one condition is True")

The `not` operator can be used to reverse the result of the conditional statement.

In [ ]:
a = 6
b = 10
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In [ ]:
# You can use ~ instead of not
a = 6
b = 10
if ~(a > b):
  print("a is NOT greater than b")

## **2. Repetation structures: `While` and `For`**

A repetition structure causes a statement or set of statements to execute
repeatedly. Repetation structures are also called loops.

### **2.1. The `while` Loop**
With the `while` loop we can execute a set of statements as long as a condition is true.

In [ ]:
# Print i as long as i is less than 6:

i = 1
while i < 6:
  print(i)
  i += 1 # This means i = i + 1

## NOTE: If you do not increse i, the loop will continue forever.

1
2
3
4
5

You can add the `break` statement to stop the loop even if the while condition is true.

In [ ]:
# Exit the loop when i is 3:

i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

### **2.2. `For` loop**

A `For` loop is used for iterating over a sequence (e.g., list, dictionary, or string). With the `for` loop we can execute a set of statements, once for each item in a sequence.

In [ ]:
# A list of fruits
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

You can also use the `break` statement inside the `For` loop.

In [ ]:
# Exit the loop when x is "banana":
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

The `range()` function is useful in a `For` loop. The `range()` function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

Please note that the 6 is NOT included in the loop.

In [ ]:
# Set a start number
for x in range(2, 6):
  print(x)

2
3
4
5

In [ ]:
# Increment the sequence with 5 (default is 1):
for x in range(2, 30, 5):
  print(x)

2
7
12
17
22
27

In [ ]:
# Print the numbers 1 through 10 and their squares.
for number in range(1, 11):
  square = number**2
  print(number, square)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [ ]:
# Convert km/hour to mile/hour
# Print the table headings.
print('KPH\tMPH')
print('--------------')

# Print the speeds.
for kph in range(20, 100, 10):
  mph = kph * 0.6214
  print(kph, '\t', format(mph, '.1f'))

KPH	MPH
--------------
20 	 12.4
30 	 18.6
40 	 24.9
50 	 31.1
60 	 37.3
70 	 43.5
80 	 49.7
90 	 55.9

You can add another `For` loop inside a `For` loop. (a.k.a. nested loop)

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

## **References**
- Tony Gaddis. 2017. Starting Out with Python (4th Edition). Pearson.
- https://www.w3schools.com/python/python_conditions.asp
- https://www.w3schools.com/python/python_while_loops.asp
- https://w3schools.com/python/python_for_loops.asp